<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.CatalogoConnectionString"
            connectionString="Data Source=DESKTOP-A1EIUDM\SQLEXPRESS;Initial Catalog=Catalogo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>